/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hidden {
   display: none;
 }

 body {
   background-color: #13889b;
   font-family: 'Merriweather Sans', sans-serif;
 }

 .container {
   width: 80%;
   min-width: 400px;
   margin-left: auto;
   margin-right: auto;
 }

 .container a {
   margin-left: auto;
   margin-right: auto;
   display: block;
 }

 h1 {
   color: #ffe780;
   text-transform: uppercase;
   text-align: center;
 }

 h3 {
   color: #fff;
   text-transform: uppercase;
   display: inline;
 }

 .deadline {
   display: inline;
   width: 50%;
   float: right;
 }

 .deadline p {
   display: inline;
 }

 .description {
   margin-top: 20px;
   padding: 15px;
   width: 100%;
   min-height: 200px;
   background-color: rgba(255,255,255,0.2);
 }

 .description p {
   color: rgba(0,0,0,0.5);
 }

 p {
   color: rgba(255,255,255,0.5)
 }

 table {
   margin-top: 30px;
   width: 100%;
   border-spacing: 0;
   border-collapse: collapse;
 }

 th {
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: left;
 }

 tr {
   height: 30px;
 }

 tr:nth-child(even) {
   background: rgba(255,255,255,0.15);
 }

 td {
   min-width: 120px;
   color: rgba(255,255,255,0.5);
   padding: 5px;

 }

 td a {
   display: block;
   text-decoration: none;
   color: rgba(255,255,255,0.5);
   height: 100%;
 }

 td a:hover {
   color: #fff;
   background-color: rgba(255,255,255,0.5);
 }

 .new-note-button {
   width: 80%;
   border: 2px solid #ffe780;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   color: #ffe780;
 }

  .new-note-button:hover {
    background-color: #ffe780;
    color: #13889b;
  }

  a.small-button {
    width: 80%;
    border: 2px solid;
    font-weight: 700;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .edit-button {
    border-color: #ffe780;
    color: #ffe780;
  }

  .edit-button:hover {
    border-color: #ffe780;
    background-color: #ffe780;
    color: #13889b;
  }

  .delete-button {
    border-color: rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
  }

  .delete-button:hover {
    border-color: #fff;
    background-color: #fff;
    color: #13889b;
  }

  .home-button {
    border-color: #064349;
    color: #064349;
  }

  .home-button:hover {
    border-color: #064349;
    background-color: #064349;
    color: #13889b;
  }

  a.wide-button {
    display: block;
    width: 100%;
    border: 2px solid;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  a.medium-button {
    display: block;
    width: 70%;
    border: 2px solid;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  form {
    padding: 10px;
    width: 100%;
  }

  form label {
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin: 18px 0 8px 0;

  }

  form input, textarea {
    display: block;
    width: 95%;
    border-radius: 0;
    border: 2px solid #fff;
    background-color: #13889b;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    padding: 2%;
  }

  label#type-label {
    display: inline-block;
    margin-top: 4px;
  }

  .deadline-group {
    margin-top: 25px;
  }

  select#note_note_type {
    display: inline-block;
    float: right;
    width: 80%;
    float: right;
    height: 30px;
    border: 2px solid #fff;
    padding: 8px;
    height: 30px;
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
  }

  input.save-button {
    background: none;
    border: 2px solid #ffe780;
    color: #ffe780;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 20px;
    width: 100%;
  }

  input.save-button:hover {
    border-color: #ffe780;
    background-color: #ffe780;
    color: #13889b;
  }

  .flash p {
    background-color: rgba(255,255,255,0.2);
    color: #ffe780;
    padding: 8px 10px;
  }

  ul.errors li {
    background-color: rgba(255,255,255,0.2);
    list-style: none;
    color: #ffe780;
    padding: 8px 10px;
  }
